#!/usr/bin/env bash

###############################################################################
# Global Exports                                                              #
###############################################################################

export EDITOR="nano"
export VISUAL=$EDITOR


###############################################################################
# Application Specific Exports                                                #
###############################################################################

